---
name: Release

on:
  release:
    types: [published]
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    name: Generate Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Zip and Tar
        run: |
          cd templates
          tar -cvzf ../starter_modules.tar.gz .
          zip -r ../starter_modules.zip .

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: starter_modules
          path: |
            starter_modules.tar.gz
            starter_modules.zip

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./starter_modules.tar.gz
            ./starter_modules.zip
